@import url(https://meyerweb.com/eric/tools/css/reset/reset.css);
body {
   font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.game-wrapper {
   height: 100vh;
   display: flex;
}
.game {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   width: 100%;
   max-width: 500px;
   box-shadow: 5px 5px 6px 2px rgba(0, 0, 0, 0.4);
   padding: 20px;
   margin: auto;
   transition: all 0.5s;
   /* border-radius: 15px; */
}

h1 {
   font-size: 30px;
   font-weight: bold;
   margin: 20px 0;
   line-height: 35px;
}

form {
   display: flex;
   flex-direction: column;
}
form * {
   margin: 5px;
   padding: 5px;
   border-radius: 5px;
}
button {
   background: #fff;
   width: 100px;
   margin: auto;
}
.restart {
   text-align: center;
   cursor: default;
   background: rgba(20, 20, 20, 0.164);
   margin: 5px auto;
}
.status,
.trials {
   text-transform: uppercase;
   font-weight: bolder;
}

.flash {
   padding: 5px;
   background: rgba(20, 20, 20, 0.226);
   border: 5px dashed red;
}
.error {
   margin-top: -10px;
   text-align: center;
   font-size: small;
   color: red;
}
