@import url(https://meyerweb.com/eric/tools/css/reset/reset.css);
body {
   font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
main {
   /* margin: 0 !important; */
   height: 100vh;
   display: flex;
}

.game-board {
   background-color: yellow;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   width: 100%;
   max-width: 300px;
   box-shadow: 5px 5px 6px 2px rgba(0, 0, 0, 0.4);
   padding: 20px;
   margin: auto;
   transition: all 0.5s;
   border-radius: 10px;
}
h1 {
   font-size: 30px;
   font-weight: bold;
   margin: 0 auto;
   line-height: 35px;
}
p {
   background: #fff;
   padding: 5px;
   margin: 5px;
}
.player {
   font-size: large;
   font-weight: bold;
}
tr,
td {
   font-size: large;
   font-weight: bold;
   text-align: center;
   text-transform: capitalize;
   border: 1px solid black;
   padding: 12px;
   opacity: 0;
   transition: all 0.5s cubic-bezier(0.25, 0.1, 0.69, 0.06);
}
.show {
   opacity: 1;
}
