@import url(https://meyerweb.com/eric/tools/css/reset/reset.css);
html {
   box-sizing: border-box;
   background: #fff;
}
*,
*:before,
*:after {
   box-sizing: inherit;
}
body {
   font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
main {
   display: flex;
   flex-direction: column;
}

h1 {
   font-size: 30px;
   font-weight: bold;
   margin: 20px 0;
   line-height: 35px;
}
button {
   width: 100%;
   max-width: 350px;
   background: white;
   padding: 11px;
   border-radius: 17px;
   border: none;
   transition: background 0.3s;
   margin: 7px 0;
   font-weight: bolder;
}
.signup {
   background: #1da0f2;
   color: white;
}
.signup:hover {
   background: #056fb1;
}
.login {
   border: 1px solid #1da1f2;
}
.login:hover {
   background: #1da0f2b4;
}
a {
   text-decoration: none;
   color: rgba(0, 0, 0, 0.664);
   padding: 5px;
}
a:hover {
   text-decoration: underline;
}
.main-wrapper {
   margin: 0;
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
}
.action-wrapper {
   margin: 0;
   width: 100%;
}
.action {
   width: 100%;
   max-width: 450px;
   padding: 0 20px;
   margin: 0 auto;
}
.action img {
   width: 70px;
   margin-left: -15px;
}
.action p {
   margin: 7px 0;
   margin-top: 50px;
   font-weight: 500;
}

.intros {
   color: white;
   font-size: 17px;
   font-weight: bold;
   background: url("/twitter-clone/images/Twitter_Logo_Blue1.png") #35aaf3c5;
   background-repeat: no-repeat;
   background-size: 350px;
   background-position: right;
   padding: 30px;
   line-height: 50px;
   width: 100%;
}
.intro-wrapper {
   min-width: 330px;
}
.intro {
   display: flex;
   align-items: center;
}
.intro img {
   width: 40px;
   margin: 10px;
}
.login-signup {
   display: flex;
   margin: 20px auto;
   width: 100%;
   justify-content: center;
}
.login-signup button {
   width: 50%;
   max-width: 150px;
   margin: 10px 15px;
}

footer {
   margin-top: 15px;
   line-height: 20px;
}
@media screen and (min-width: 776px) {
   .login-signup {
      display: none;
   }
   .main-wrapper {
      flex-direction: row-reverse;
   }
   .intros {
      width: 50%;
      background-size: 800px;
      margin: 0;
      padding: 130px 50px;
      /* background-color: #1da0f2cc; */
   }
   .action-wrapper {
      width: 50%;
      margin: 0;
   }
}
